name: Clone GitHub Pages Site

on:
  workflow_dispatch:

jobs:
  clone-site:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Clone the target repository
      - name: Clone the site repository
        # This checks out the *source code* of the website
        uses: actions/checkout@v4
        with:
          repository: 'quiz-30/quiz-30.github.io' # The repo to clone
          path: 'quiz-30.github.io'         # The folder to clone it into

      # Step 2: Upload the cloned files as an artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-source
          path: quiz-30.github.io
